<md-card class="register">
  <h3>Registrierung</h3>
  <hr>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container class="full-width-input">
        <input
          mdInput
          placeholder="Benutzername"
          formControlName="username"
        >
      </md-input-container>
      <md-input-container class="full-width-input">
        <input
          mdInput
          type="email"
          placeholder="E-Mail"
          formControlName="email"
        >
      </md-input-container>
      <md-input-container class="full-width-input">
        <input
          mdInput
          type="password"
          placeholder="Passwort"
          formControlName="password"
        >
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" class="button-register">Registrieren</button>
      <button md-button routerLink='/login'>Login</button>
    </md-card-actions>
  </form>
</md-card>
