<md-card class="login">
  <h3>Login</h3>
  <hr>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container class="full-width-input">
        <input
          mdInput
          placeholder="Benutzername"
          formControlName="username"
        >
      </md-input-container>
      <md-input-container class="full-width-input">
        <input
          mdInput
          type="password"
          placeholder="Passwort"
          formControlName="password"
        >
      </md-input-container>
    </md-card-content>
    <p class="error-text" #errorText *ngIf="showErrorText">Your Credential where Wrong.</p>
    <md-card-actions>
      <button md-button type="submit" class="button-login">Login</button>
      <button md-button routerLink='/register'>Registrieren</button>
    </md-card-actions>
  </form>
</md-card>
