<md-card class="login">
  <h3>Login</h3>
  <hr>
  <md-card-content>
    <md-input-container class="full-width-input">
      <input mdInput placeholder="Benutzername">
    </md-input-container>
    <md-input-container class="full-width-input">
      <input mdInput type="password" placeholder="Passwort">
    </md-input-container>
  </md-card-content>
  <md-card-actions>
    <button md-button class="button-login">Login</button>
    <button md-button routerLink='/register'>Registrieren</button>
  </md-card-actions>
</md-card>
