{
  "presets": [
    ["env", {
      "targets": {
        "node": 5.1
      },
      "exclude": ["transform-regenerator", "transform-async-to-generator"]
    }]
  ],
  "plugins": [
    "transform-async-to-generator"
  ]
}

