<md-card class="root-card">
  <h1>MultiJ </h1>

  <p>{{ activeQuestion.value.questionText }}</p>
  <md-list>
    <md-radio-group (change)="onSelect($event)">
      <div *ngFor="let aswer of answes"></div>
      <md-divider></md-divider>
      <md-list-item  md-line>
        Item 1
        <div class="spacer"></div>
        <md-radio-button value="2"></md-radio-button>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item  md-line>
        Item 1
        <div class="spacer"></div>
        <md-radio-button  value="3"></md-radio-button>
      </md-list-item>
      <md-divider></md-divider>
    </md-radio-group>
  </md-list>
</md-card>


<!--<tr *ngFor="let entry of entries">-->
  <!--<td>{{ entry.description }}</td>-->
  <!--<td>-->
    <!--<input type="radio" name="radiogroup"-->
           <!--[value]="entry.id"-->
           <!--(change)="onSelectionChange(entry)">-->
  <!--</td>-->
<!--</tr>-->


<!--<md-list>-->
  <!--<md-list-item>Item 1</md-list-item>-->
  <!--<md-list-item>Item 2</md-list-item>-->
  <!--<md-list-item>Item 3</md-list-item>-->

<!--</md-list>-->
